In [ ]:
print("Hello World")
print("hi")

Hello World
hi

In [ ]:
print("Hello")

Hello

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
#str
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [ ]:
#int
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [ ]:
#float
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [ ]:
#complex
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [ ]:
#list
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
#tuple
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
#range
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [ ]:
#dict
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [ ]:
#set
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [ ]:
#bool
x = False

#display x:
print(x)

#display the data type of x:
print(type(x))

False
<class 'bool'>

In [ ]:
x = dict(name="John", age=36)
#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [ ]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [ ]:
x = bool(0)

#display x:
print(x)

#display the data type of x:
print(type(x))

False
<class 'bool'>

In [ ]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
a = "Hello, World!"
print(a[1])
print(a[6])
print(a[7])

e

W

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("best" not in txt)

False

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
x="hello"
y= 100
print(x,y)

hello 100

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (<ipython-input-59-485014d8dfdf>, line 1)

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.