In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
#This is a print function which is printing Hello World
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(type(x))

print(y)
print(type(y))

print(z)
print(type(z))

3
<class 'str'>
3
<class 'int'>
3.0
<class 'float'>

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = "John"
# is the same as
x = 'John'

In [ ]:
x="John"
X=10
print(x)
print(X)

John
10

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
2myvar = "John"

SyntaxError: invalid decimal literal (<ipython-input-15-8d2476d30ec8>, line 1)

In [ ]:
my-var = "John"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-16-23740dfebf8a>, line 1)

In [ ]:
my var = "John"

SyntaxError: invalid syntax (<ipython-input-17-ffb5c73e7820>, line 1)

In [ ]:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 5
y = "John"
print(x, y)

5 John