<a href="https://colab.research.google.com/github/abhishek-rana-22/python/blob/main/python_session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction

In [ ]:
print("Hello World")

Hello World

In [ ]:
#This is data science course
'''
This is a data science course
This is a python class
'''

'\nThis is a data science course\nThis is a python class\n'

In [ ]:
a=3
print(a)

3

In [ ]:
id(a)

135113653551408

In [ ]:
!python --version

Python 3.10.12

In [ ]:
apples = 10
print(f'i wanto buy {apples} apples')

i wanto buy 10 apples

In [ ]:
bananas = 10
oranges = 20
print(f'I want to buy {bananas} bananas and {oranges} oranges')

I want to buy 10 bananas and 20 oranges

In [ ]:
fruit1, fruit2, fruit3 = 'oranges', 'banana', 'apple'
print(fruit1)
print(fruit2)
print(fruit3)

oranges
banana
apple

In [ ]:
x = y = z = 'orange'
print(x)
print(y)
print(z)

orange
orange
orange

In [ ]:
def summation(a,b):
  sum = a+b
  return sum


summation(10,20)

30

In [ ]:
x=5
print(f'position 1 {x}')

def multiplication(x,y):
  print(f'position 2 {x}')
  z=10
  x=40
  print(f'position 3 {x}')
  prod = x*y*z
  return prod


print(multiplication(x,6))
print(f'position 4  {x}')

position 1 5
position 2 5
position 3 40
2400
position 4  5

In [ ]:
x,y = True, False
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [ ]:
x=1
y=2.8
z='3'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
int(y)

2

In [ ]:
str(y)

'2.8'

In [ ]:
x='2'
y='3'
z='4'

def convert(x,y,z):
  a = int(x)
  b = int(y)
  c = int(z)
  mul = a*b*c
  return mul


convert(x,y,z)

24

In [ ]:
x='apple'
x[1]

'p'

In [ ]:
x = 'abcde'
print(x[0])
print(x[-5])
print(x[4])
print(x[-1])

a
a
e
e

In [ ]:
x='orange'
x[0:3]

'ora'

In [ ]:
x[-5:-2]

'ran'

In [ ]:
if 5 > 2:
  print("Five is greater than two")
if 10 > 5:
  print("Ten is greater than five")
# This is a comment line

"""
This is a comment
written in
more than just one line
"""

x = 5
y = "John"
print(type(x))
print(type(y))

x = "John"
# is the same as
x = 'John'

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)


x = y = z = "Orange"
print(x)
print(y)
print(z)

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)

x = 5
y = "John"
print(x, y)

Five is greater than two
Ten is greater than five
<class 'int'>
<class 'str'>
Orange
Banana
Cherry
Orange
Orange
Orange
apple
banana
cherry
Python is awesome
15
5 John

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
print("Hello World")

Hello World

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)
print(a)

1.0

In [ ]:
#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random
print(random.randrange(1, 10))

8

In [ ]:
print(type(10 > 9))
print(10 == 9)
print(10 < 9)

<class 'bool'>
False
False

In [ ]:
a = 200
b = 33

if (b > a):
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
print(bool("Hello"))
print(bool(15))
print(bool(0))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
False
True
True

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [ ]:
x = 5
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)

8
2
15
1.6666666666666667
2

In [ ]:
#Exponentiation
x = 2
y = 5
print(x ** y) #same as 2*2*2*2*2

32

In [ ]:
#Floor division
x = 15
y = 2
print(x // y) #the floor division // rounds the result down to the nearest whole number

7

In [ ]:
x = 5
print(x)

5

In [ ]:
x +=3
print("x = ",x)

x =  8

In [ ]:
y = 5
y -= 3
print("y = ",y)

y =  2

In [ ]:
a = 5
a *= 3
print("a = ",a)

a =  15

In [ ]:
b = 5
b /= 3
print("b = ",b)

b =  1.6666666666666667

In [ ]:
m = 5
m %=3
print("m = ",m)

m =  2

In [ ]:
n = 5
n **= 3
print("n = ",n)

n =  125

In [ ]:
x = 5
y = 3
print(x == y)  # returns False because 5 is not equal to 3

False

In [ ]:
a = 5
b = 3
print((True == (a != b)))  # returns True because 5 is not equal to 3

True

In [ ]:
a = 5
b = 3
print((True == (a != b)))  # True == True   --> True

True

In [ ]:
m = 5
n = 3
print(m > n)  # returns True because 5 is greater than 3

True

In [ ]:
p = 5
q = 3
print(p < q)  # returns False because 5 is not less than 3

False

In [ ]:
c = 5
d = 3
print(c >= d) # returns True because five is greater, or equal, to 3

True

In [ ]:
e = 5
f = 3
print(e <= f) # returns False because 5 is neither less than or equal to 3

False

In [ ]:
x = 5
print(x > 3 and x < 10)  # returns True because 5 is greater than 3 AND 5 is less than 10

True

In [ ]:
y = 5
print(y > 3 or y < 4) # returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4) --> True OR False

True

In [ ]:
z = 5
print(not(z > 3 and z < 10))  # returns False because not is used to reverse the result

False

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

print(x is y)

print(x == y)

True
False
True

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)  # returns False because z is the same object as x

print(x is not y)  # returns True because x is not the same object as y, even if they have the same content

print(x != y)     # to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [ ]:
x = ["apple", "banana"]
print("banana" in x)  # returns True because a sequence with the value "banana" is in the list

True

In [ ]:
x = ["apple", "banana"]
print("banana" not in x)  # returns True because a sequence with the value "pineapple" is not in the list

False

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "banana"]
length = len(thislist)
print(len(thislist))
print(thislist)
print(thislist[0])
print(thislist[length-1])

5
['apple', 'banana', 'cherry', 'apple', 'banana']
apple
banana

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
length = len(list1)
print(len(list1))
print(list1)
print(list1[0])
print(list1[length-1])

5
['abc', 34, True, 40, 'male']
abc
male

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) # The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)   #The elements will be added to the end of the list.

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
thislist = [100, 200, 300]
for x in thislist:
  print(x*10)

# 1st iteration --> x = "apple"   --> apple
# 2st iteration --> x = "banana"   --> banana
# 3rd iteration --> x = "cherry"   --> cheery

1000
2000
3000

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

# len(thislist)  = 3
#range(3) = 0,1,2
#range(len(thislist)) == 0,1,2
# 1st iteration ---> thislist[i] = thislist[0] = apple
# 2st iteration ---> thislist[i] = thislist[1] = banana
# 3rd iteration ---> thislist[i] = thislist[2] = cherry

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

#1st iteration --> i = 0 -->thislist[0] --> apple ---> i = 0+1 = 1
#2nd iteration --> i = 1 -->thislist[1] --> banana ---> i = 1+1 = 2
#3rd iteration --> i = 2 -->thislist[2] --> cherry ---> i = 2+1 = 3

apple
banana
cherry

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(type(thistuple))
print(thistuple)

<class 'tuple'>
('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [ ]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [ ]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [ ]:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[2])

cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)  		#Converting into list
y[1] = "kiwi"       #Replace index 1 with kiwi
x = tuple(y)		#Converting into tuple

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y   # thistuple = thistuple + y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

#range(len(thistuple)) ---> range(3) ---> 0,1,2

apple
banana
cherry

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020,
  "year": 2022
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}
3

In [ ]:
thisdict = {
  "brand": "Ford",     #String
  "electric": False,    #Boolean
  "year": 1964,          #Integer
  "colors": ["red", "white", "blue"]      #List
  }

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
x = thisdict.get("model")
print(x)

Mustang

In [ ]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

y = car.values()

prthe changeint(y) #before

car["year"] = 2020

print(y) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

z = car.values()

print(z) #before the change

car["color"] = "red"

print(z) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
ar = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(x)

brand
model
year

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

for x, obj in myfamily.items():
  print(x)
  print(obj)
  for y in obj:
    print(y + ':', obj[y])

child1
{'name': 'Emil', 'year': 2004}
name: Emil
year: 2004
child2
{'name': 'Tobias', 'year': 2007}
name: Tobias
year: 2007
child3
{'name': 'Linus', 'year': 2011}
name: Linus
year: 2011

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry", "apple","banana"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [ ]:


thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("orange" not in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

tropical.update(thisset)

print(thisset)
print(tropical)

{'pineapple', 'cherry', 'mango', 'apple', 'banana', 'papaya'}
{'pineapple', 'apple', 'cherry', 'mango', 'banana', 'papaya'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'cherry', 'orange', 'banana', 'kiwi'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("orange")

print(thisset)

KeyError: 'orange'

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("orange")

print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
cherry
banana

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1 = set1.union(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'apple', 'a', 'cherry', 'bananas', 'Elena', 'c', 'b', 'John'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'apple', 'a', 'cherry', 'bananas', 'Elena', 'c', 'b', 'John'}

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
set1 = {"a", "b" , "c",5}
set2 = {1, 2, 3,5}

set1.update(set2)
print(set1)

{1, 2, 3, 5, 'a', 'c', 'b'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'microsoft', 'cherry', 'banana'}

In [ ]:
def my_function():
  print("Hello from a function")
  print("Hello from a function1")
  print("Hello from a function2")

my_function()

Hello from a function
Hello from a function1
Hello from a function2

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
# Python code to demonstrate the use of default arguments
# defining a function
def function( n1, n2 = 20 ):
    print("number 1 is: ", n1)
    print("number 2 is: ", n2)


# Calling the function and passing only one argument
print( "Passing only one argument" )
function(30)

# Now giving two arguments to the function
print( "Passing two arguments" )
function(50,30)

Passing only one argument
number 1 is:  30
number 2 is:  20
Passing two arguments
number 1 is:  50
number 2 is:  30

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
# Python code to demonstrate the use of keyword arguments
  # Defining a function
def function( n1, n2 ):
    print("number 1 is: ", n1)
    print("number 2 is: ", n2)

# Calling function and passing arguments without using keyword
print( "Without using keyword" )
function( 50, 30)

# Calling function and passing arguments using keyword
print( "With using keyword" )
function( n2 = 50, n1 = 30)

Without using keyword
number 1 is:  50
number 2 is:  30
With using keyword
number 1 is:  30
number 2 is:  50

In [ ]:
# Python code to demonstrate the use of default arguments
# Defining a function
def function( n1, n2 ):
    print("number 1 is: ", n1)
    print("number 2 is: ", n2)

# Calling function and passing two arguments out of order, we need num1 to be 20 and num2 to be 30
print( "Passing out of order arguments" )
function( 30, 20 )

# Calling function and passing only one argument
try:
    function( 30 )
except:
    print( "Function needs two positional arguments" )

Passing out of order arguments
number 1 is:  30
number 2 is:  20
Function needs two positional arguments

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")
my_function(fname = "Tobias", lname = "Refsnes", pname = "aaa")

His last name is Refsnes
His last name is Refsnes

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
# Python code to demonstrate the use of return statements
# Defining a function with return statement
def square( num ):
    return num**2

# Calling function and passing arguments.
print( "With return statement" )
print( square( 52 ) )

# Defining a function without return statement
def square( num ):
     num**2

# Calling function and passing arguments.
print( "Without return statement" )
print( square( 52 ) )

With return statement
2704
Without return statement
None

In [ ]:
class Person:
  def __init__(abhi, name, age):
    abhi.name = name
    abhi.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
  print("Hello")
  print("Hi")

print("World")

b is greater than a
Hello
Hi
World

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-6-9000bb591814>, line 4)

In [ ]:

a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif b < a:
  print("a is greater than b")
else:
  print("a is greater than b 123")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 200
b = 330
print("A") if a > b else print("=") if a == b else print("B")

B

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
a = 33
b = 200
if b > a:
  pass

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

# Iteration 1  i =1  print 1   i = 1+1 =2
# Iteration 2  i =2  print 2   i = 2+1 =3
# Iteration  i =1  print 1   i = 1+1 =2

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in range:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
      break
    print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

In [ ]:
class Person:
  def __init__(abhi, name, age):
    abhi.name = name
    abhi.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)  # Internally invoke __init__ and first paramer i.e self will point to p1 object
p2 = Person("Michekl", 35)   # Internally invoke __init__ and first paramer i.e self will point to p2 object
p3 = Person("Andrew", 34)   # Internally invoke __init__ and first paramer i.e self will point to p3 object


print(p1.name)
print(p1.age)

print(p2.name)
print(p2.age)

print(p3.name)
print(p3.age)

John
36
Michekl
35
Andrew
34

In [ ]:
class Car:
	def __init__(self, brandname ="MS", model="Ciaz", carno=1234):
		self.brandname = brandname
		self.model = model
		self.carno = carno


MC = Car("MS","Ciaz",1234)  # Internally invoke __init__ and first paramer i.e self will point to MC object
TN = Car("Tata Motors", "Nexon",4567)   # Internally invoke __init__ and first paramer i.e self will point to TN object
HC = Car("Hyndai", "Creta", 6789)   # Internally invoke __init__ and first paramer i.e self will point to HC object


print(MC.brandname)
print(MC.model)
print(MC.carno)


print(TN.brandname)
print(TN.model)
print(TN.carno)


print(HC.brandname)
print(HC.model)
print(HC.carno)

MS
Ciaz
1234
Tata Motors
Nexon
4567
Hyndai
Creta
6789

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7a46d9b36b00>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)  # Internally invoke __init__ and first paramer i.e self will point to p1 object

print("Before Update")
print(p1.name)
print(p1.age)

del p1

print("After Update")
print(p1.name)
print(p1.age)

Before Update
John
36
After Update

NameError: name 'p1' is not defined

In [ ]:
class Person:
  pass

In [ ]:
class Person:
    count = 0   # This is a class variable

    def __init__(self, name, age):
        self.name = name    # This is an instance variable
        self.age = age
        Person.count += 1   # Accessing the class variable using the name of the class

person1 = Person("Ayan", 25)
person2 = Person("Bobby", 30)
print(Person.count)

2

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [ ]:
class Employee:
    def __init__(self, name, id):
        self.id = id
        self.name = name

    def display(self):
        print("ID: %d \nName: %s" % (self.id, self.name))


emp1 = Employee("John", 101)
emp2 = Employee("David", 102)

# accessing display() method to print employee 1 information

emp1.display()

# accessing display() method to print employee 2 information
emp2.display()

ID: 101
Name: John
ID: 102
Name: David

In [ ]:
class Student:
    # Constructor - non parameterized
    def __init__(self):
        print("This is non parametrized constructor")
    def show(self,name):
        print("Hello",name)
s1 = Student()
s1.show("John")

This is non parametrized constructor
Hello John

In [ ]:
class Student:
    roll_num = 101
    name = "Joseph"

    def display(self):
        print(self.roll_num,self.name)

st1 = Student()
st1.display()
st2 = Student()
st2.display()
st3 = Student()
st3.display()

101 Joseph
101 Joseph
101 Joseph

In [ ]:
class GeekforGeeks:

    # default constructor
    def __init__(self):
        self.geek = "GeekforGeeks"

    # a method for printing data members
    def print_Geek(self):
        print(self.geek)


# creating object of the class
obj = GeekforGeeks()

# calling the instance method using the object obj
obj.print_Geek()


obj1 = GeekforGeeks()
obj1.print_Geek()

GeekforGeeks
GeekforGeeks

In [ ]:
class Student:
    # Constructor - parameterized
    def __init__(self, name):
        print("This is parametrized constructor")
        self.name = name
    def show(self):
        print("Hello",self.name)
student = Student("John")
student.show()

This is parametrized constructor
Hello John

In [ ]:
class Addition:
    first = 0
    second = 0
    answer = 0

    # parameterized constructor
    def __init__(self, f, s):
        self.first = f
        self.second = s

    def display(self):
        print("First number = " + str(self.first))
        print("Second number = " + str(self.second))
        print("Addition of two numbers = " + str(self.answer))

    def calculate(self):
        self.answer = self.first + self.second


# creating object of the class
# this will invoke parameterized constructor
obj1 = Addition(1000, 2000)

# creating second object of same class
obj2 = Addition(10, 20)

# perform Addition on obj1
obj1.calculate()

# perform Addition on obj2
obj2.calculate()

# display result of obj1
obj1.display()

# display result of obj2
obj2.display()

First number = 1000
Second number = 2000
Addition of two numbers = 3000
First number = 10
Second number = 20
Addition of two numbers = 30

In [ ]:
class Student:
    def __init__(self,name):
        print("The First Constructor")

st = Student()

TypeError: Student.__init__() missing 1 required positional argument: 'name'

In [ ]:
class Student:
    def __init__(self, name, id, age):
        self.name = name
        self.id = id
        self.age = age

# creates the object of the class Student
s = Student("John", 101, 22)

# prints the attribute name of the object s
print(getattr(s, 'name'))

# reset the value of attribute age to 23
setattr(s, "age", 23)

# prints the modified value of age
print(getattr(s, 'age'))

# prints true if the student contains the attribute with name id

print(hasattr(s, 'id'))
# deletes the attribute age
delattr(s, 'age')

# this will give an error since the attribute age has been deleted
print(s.age)

John
23
True

AttributeError: 'Student' object has no attribute 'age'

In [ ]:
class Student:
    count = 0
    def __init__(self):
        Student.count = Student.count + 1
s1=Student()
s2=Student()
s3=Student()
print("The number of students:",Student.count)

The number of students: 3

In [ ]:
# This function has a variable with
# name same as s.
def f():
    s = "Me too."
    print(s)

# Global scope
s = "I love Geeksforgeeks"
f()
print(s)

Me too.
I love Geeksforgeeks

In [ ]:
# This function modifies the global variable 's'
def f():
    global s
    s += ' GFG'
    print(s)
    s = "Look for Geeksforgeeks Python Section"
    print(s)

# Global Scope
s = "Python is great!"
f()
print(s)

Python is great! GFG
Look for Geeksforgeeks Python Section
Look for Geeksforgeeks Python Section

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [ ]:
def f():
    # local variable
    s = "I love Geeksforgeeks"
    print(s)

f()
print(s)

I love Geeksforgeeks
Look for Geeksforgeeks Python Section

In [ ]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [ ]:
x = abs(-7.25)

print(x)

7.25

In [ ]:
x = pow(4, 3)
print(x)

64

In [ ]:
import math
x = math.sqrt(64)
print(x)

8.0

In [ ]:
import math
x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [ ]:
import math
x = math.pi
print(x)

3.141592653589793

In [ ]:
import datetime
x = datetime.datetime.now()

print(x)
print(x.year)
print(x.strftime("%A"))

2024-06-27 15:51:18.207595
2024
Thursday

In [ ]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [ ]:

import datetime

x = datetime.datetime(2018, 6, 1)

print(x)
print(x.strftime("%B"))

2018-06-01 00:00:00
June

In [ ]:
import json
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [ ]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [ ]:
import json

print(json.dumps({"name": "John", "age": 30}))  #Dictionary
print(json.dumps(["apple", "bananas"]))         #List
print(json.dumps(("apple", "bananas")))         #Tuple
print(json.dumps("hello"))                      #String
print(json.dumps(42))                           #Integer
print(json.dumps(31.76))                        #Float
print(json.dumps(True))                         #Boolean
print(json.dumps(False))                        #Boolean
print(json.dumps(None))                         #None

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [ ]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [ ]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use four indents to make it easier to read the result:
print(json.dumps(x, indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

In [ ]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use . and a space to separate objects, and a space, a = and a space to separate keys from their values:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

In [ ]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# sort the result alphabetically by keys:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

In [ ]:
txt = f"The price is 49 dollars"
print(txt)

The price is 49 dollars

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
txt = f"The price is {95:.2f} dollars"
print(txt)

The price is 95.00 dollars

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
price = 59
tax = 0.25
txt = f"The price is {price + (price * tax)} dollars"
print(txt)

The price is 73.75 dollars

In [ ]:
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap

In [ ]:
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

In [ ]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [ ]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

In [ ]:
price = 49
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {1} pieces of item number {0} for {2:.2f} dollars."
print(myorder.format(itemno, quantity, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [ ]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

In [ ]:
pip --version

pip 23.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)

In [ ]:
pip install camelcase

Collecting camelcase
  Downloading camelcase-0.2.tar.gz (1.3 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: camelcase
  Building wheel for camelcase (setup.py) ... done
  Created wheel for camelcase: filename=camelcase-0.2-py3-none-any.whl size=1773 sha256=40ef70d227663a96da339f12c942ae997f63fa9d10c2ec9dc00edfc109aa3883
  Stored in directory: /root/.cache/pip/wheels/89/69/2b/bb16b6766a74942bfbd1e0db55e3c0f3d80c3463ad6b4dc4d4
Successfully built camelcase
Installing collected packages: camelcase
Successfully installed camelcase-0.2

In [ ]:
import camelcase

c = camelcase.CamelCase()

txt = "lorem ipsum dolor sit amet"

print(c.hump(txt))

Lorem Ipsum Dolor Sit Amet

In [ ]:
pip uninstall camelcase

Found existing installation: camelcase 0.2
Uninstalling camelcase-0.2:
  Would remove:
    /usr/local/lib/python3.10/dist-packages/camelcase-0.2.dist-info/*
    /usr/local/lib/python3.10/dist-packages/camelcase/*
Proceed (Y/n)?

In [ ]:
pip list